/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

header {
    height: 10%;
}

.height90 {
    height: 90%;
}

#height2 {
    height: 100%;
}

container-fluid {
    height: 90%;
}

.button1{
    border-color:blue;
    border-bottom-color:blue;
    border-top-color:blue;
}

.highLight{
    background-color:blue;
}